html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-image: radial-gradient(#E5CFF7,#F1EAFF,#E5D4FF,#DCBFFF,#D0A2F7);
    background-repeat: no-repeat;
    margin: 10px;
    padding: 10px;
}
table{
    margin: 5px;
    padding: 5px;
}
td{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.numbox{
    height: 40px;
    width: 240px;
    font-size: 25px;
    color: black;
    backdrop-filter: blur(5px); 
    background-color: #9B72AA;
    border: none;
}
.numbox::placeholder {
    color: black;
}
button{
    text-align: center;
    margin: 5px;
    padding: 5px;
    height: 40px;
    width: 40px;
    backdrop-filter: blur(5px); 
    background-color: #9B72AA;
    border: none;
}
h1{
    text-align: center;
}
.b{
    height: 40px;
    width: 115px;
}
.box{
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: auto;
}